
 @media screen and (max-width: 711px){ */
    nav h1 .logo {
        width: 200px;
        height: 85px;
        padding-left: 5%;
        padding-top: 2%;
    } 

    .view {
        display: none;
    }

    .container {
        margin: 20% 10%;
    }

    div h2 {
        margin-top: 4%;
        margin-right: 0%;
        padding-left: 7.5%;
    }

    div form input {
        width: 180%;
        height: 100%;
        background-color: white;
        align-items: center; 
        outline: none;
        border: 1px solid;
        border-radius: 5px;
        padding-bottom: 50px;
        margin-top: 12px;
        margin-left: 16%;
        font-size: 16px;
    }

  div form {
        background-color: transparent;
        align-items: center; 
        display: grid;
        justify-content: space-between;
        /* padding-top: 0%; */
        /* padding-left: 4%; */
    }

    .submmit {
        background-color: gold;
        color: black;
        /* padding-right: 120%; */
        padding-left: 30%;
        margin-right: -75%;
        justify-items: center;
        margin-left: 35%;
    }
   
  body {
    height: 100%;
  }

  div form a {
    background-color: transparent;
    padding-left: 134%;
    text-align:end;
    font-size: 19px;
    color: black;
 }

} 

nav ul {
    list-style: none;
    display: flex;
    background-color: transparent; 
    text-align: center;
   justify-content: space-between;
   text-indent: 16px;
}
    nav ul li  {
    display: flex;
    background-color: transparent; 
    text-decoration: none;
    justify-content: space-between;
    padding: 15px;
    }
    nav ul li a {
    display: flex;
    background-color:transparent;
    text-decoration: none;
    color: gold;
    border: none;
    }

   

    div {
       background-color: rgba(74, 74, 241, 0.788);
       align-items: center;
       margin: 5% 30% 1% 30%;
     
       justify-content: space-around;
       padding-top: 20px;
       padding-left: 2%;
       padding-bottom: 3%;
       border: 1px solid;
       border-radius: 7px;
    }

    div h2 {
        background-color: transparent;
        margin-left: 29%;
    }
    div form {
        background-color: transparent;
        align-items: center; 
        display: grid;
        justify-content: space-between;
        padding-top: 0%;
        padding-left: 4%;
     }
    div form input {
        background-color: white;
        align-items: center; 
        padding-top: 7px;
        outline: none;
        border: 1px solid;
        border-radius: 5px;
        padding-left: 35px;
        padding-bottom: 7px;
        margin-top: 13px;
        margin-left: 14%;
        padding-right: 32%;
     }

     div form button {
        background-color: gold; 
        justify-content: space-between;
        outline: none;   
        border-radius: 5px;
        padding: 10px 20% 10px 20%;
        margin-top: 6%;
       color: white;
       outline: none;
       margin-left: 22%;
       align-items: center;
     }

     div form a {
        background-color: transparent;
        margin-left: 4%;
     }

    div form button:hover {
    background-color: gold;
    color: black;
    transition: 0.8s ease-in-out;
    transform: scaleX(1.1);
    cursor: pointer;
    border-radius: none;    
    }
    
    div form input:hover {
    color: black;
    transition: 0.5s ease-in-out;
    }
   
 nav ul li a:hover {
        transition: 1.2s ease-out;
        transform: scaleX(1.1);
        text-decoration: underline;
    }
   